.chat-app-lp {
  align-items: center;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  z-index: -2;

  .bg-decorator {
    height: 87.5%;
    position: absolute;
    width: 500px;
    z-index: -1;

    &.left {
      background: linear-gradient(20deg, $light-violet 0%, $light-violet 50%, $light-magenta 120%);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      left: -80px;
      top: 0;
    }

    &.right {
      background-color: $light-grayish-violet;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      bottom: 0;
      right: -80px;
    }
  }

  .simple-booking {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;

    .phone {
      background-color: $white;
      border-radius: 30px;
      box-shadow: 0 15px 30px 15px rgba(0, 0, 0, 0.2);
      height: 500px;
      margin: 0 60px;
      padding: 10px;
      width: 245px;
    }

    .text-content {
      margin: 0 60px;
      max-width: 440px;

      h1 {
        color: $very-dark-desaturated-violet;
        font-family: Rubik;
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 35px;
      }

      p {
        color: $dark-grayish-violet;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
}
