.chat-app-lp {
  align-items: center;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100vw;

  .bg-decorator {
    height: 87.5%;
    position: absolute;
    width: 500px;
    z-index: -1;

    &.left {
      background: linear-gradient(20deg, $light-violet 0%, $light-violet 50%, $light-magenta 120%);
      border-bottom-left-radius: 300px;
      border-bottom-right-radius: 300px;
      left: -80px;
      top: 0;
    }

    &.right {
      background-color: $light-grayish-violet;
      border-top-left-radius: 300px;
      border-top-right-radius: 300px;
      bottom: 0;
      right: -80px;
    }
  }

  .simple-booking {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;

    .phone {
      background-color: $white;
      border-radius: 30px;
      box-shadow: 0 15px 30px 15px rgba(0, 0, 0, .1);
      display: flex;
      flex-direction: column;
      height: 500px;
      margin: 0 60px;
      padding: 10px;
      width: 245px;

      .header {
        background: linear-gradient(90deg, $light-violet 0%, $light-magenta 100%);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 65px;

        &::before {
          background-color: $white;
          border-bottom-left-radius: 17px;
          border-bottom-right-radius: 17px;
          content: '';
          display: block;
          height: 17px;
          margin: auto;
          width: 130px;
        }
      }

      .chat-content {
        background-color: $light-grayish-violet;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        padding: 10px;
        position: relative;

        .message-input {
          margin: 12px 0 0;

          input {
            border: 0;
            border-radius: 17.5px;
            box-sizing: border-box;
            font-size: 10px;
            height: 35px;
            line-height: 35px;
            padding-left: 17.5px;
            width: 225px;

            &:focus {
              outline: none;
            }
          }

          .send-message-btn {
            background-color: $very-dark-desaturated-violet;
            border: 0;
            border-radius: 50%;
            color: $white;
            font-family: Rubik;
            font-size: 15px;
            font-weight: 700;
            height: 25px;
            line-height: 25px;
            margin: 5px;
            position: absolute;
            right: 10px;
            text-align: center;
            transition: background 0.2s;
            width: 25px;

            &:hover {
              background-color: $desaturated-dark-violet;
              cursor: pointer;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .text-content {
      margin: 0 60px;
      max-width: 440px;

      h1 {
        color: $very-dark-desaturated-violet;
        font-family: Rubik;
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 35px;
      }

      p {
        color: $dark-grayish-violet;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
}
